extends navBar

block pagecontent
	include account
	include modals/alert
	include modals/confirm

block endscripts
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')

