!!! 5
html
	head
		title Khan Projects
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/morestyle.css')
		block head
	body	
		block content
		block scripts