<html>
  <head>
    <title>Node.js Login</title>
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1890531-10']);
      _gaq.push(['_setDomainName', 'braitsch.io']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>	
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <ul id="global-nav" class="nav pull-left"><a href="/" class="brand">Control Panel</a></ul>
          <button id="btn-logout" class="btn btn-primary"><i class="icon-lock icon-white"></i>Sign Out</button>
        </div>
      </div>
    </div><a href="/allProjects">Projects</a>
  </body>
  <script src="/vendor/jquery.min.js"></script>
  <script src="/vendor/jquery.form.js"></script>
  <script src="/vendor/bootstrap-modal.js"></script>
  <script src="/vendor/bootstrap-transition.js"></script>
  <script src="/js/views/myProjects.js"></script>
  <script src="/js/controllers/myProjectsController.js"></script>
</html>